:root {
  --common: grey;
  --dark-bg: #f6f9fc;
  --dark-fg: #000000;
  --epic: darkorchid;
  --legendary: gold;
  --light-bg: #000000;
  --light-fg: #ffffff;
  --link: #1a7ee3;
  --mythic: #f2a900;
  --rare: cornflowerblue;
  --search-bg: #ffffff;
  --search-border: #aaaaaa;
  --search-fg: #000000;
  --uncommon: forestgreen;
}

@font-face {
  font-family: "Proto Mono";
  src: url(./ProtoMono-Regular.otf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Proto Mono";
  src: url(./ProtoMono-Bold.otf);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Mono";
  src: url(./RobotoMono-Regular.ttf);
  font-weight: 700;
  font-style: normal;
}

html {
  background-color: var(--dark-bg);
  color: var(--dark-fg);
}

main {
  margin: 0 auto;
  max-width: 100%;
  width: 70rem;
}

h1 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

h1 a {
  color: var(--light-fg);
}

h1 a:visited {
  color: var(--light-fg);
}

iframe {
  aspect-ratio: 1 / 1;
  border: none;
}

a {
  color: var(--link);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: var(--link);
}

dt {
  font-weight: bold;
  margin-top: 0.5rem;
  color:gray;
}

dd {
  margin-inline-start: 0rem;
  margin-top: 0.5rem
}

nav {
  align-items: center;
  background-color: var(--light-bg);
  display: flex;
  gap: 1rem;
  padding: 1rem;
}

nav > :first-child {
  color: var(--light-fg);
  font-weight: bold;
}

form {
  display: flex;
  flex-grow: 1;
  gap: 1rem;
  margin-left: auto;
  padding-bottom: 0.25rem;
  width: 100%;
}

input[type=text] {
  background-color: var(--search-bg);
  border-radius: 3px;
  border: 1px solid var(--search-border);
  color: var(--search-fg);
  flex-grow: 1;
  min-width: 0;
}

input[type=image] {
  margin-top: 0.2rem;
}

dl {
  overflow-wrap: break-word;
}

ol, ul {
  overflow: hidden;
}

@media (max-width: 38rem) {
  nav {
    flex-wrap: wrap;
  }
}

.block-list {
  font-family: monospace, monospace;
  list-style-position: inside;
  white-space: nowrap;
}

.block {
  background-color: var(--light-fg);
  border-radius: 0.5%;
  margin: 3%;
  padding: 0.5%;
  text-align: center;
}

.block a {
  color: var(--dark-fg);
  margin-top: 1%;
  font-weight: 500;
  font-size: 20px;
}

.block h2 {
  margin: 1%;
}

.center {
  text-align: center;
}

.monospace {
  font-family: monospace, monospace;
}

span.common, span.uncommon, span.rare, span.epic, span.legendary, span.mythic {
  border-radius: 0.25rem;
  color: white;
  padding: 0.125rem 0.25rem;
}

span.common {
  background-color: var(--common);
}

span.uncommon {
  background-color: var(--uncommon);
}

span.rare {
  background-color: var(--rare);
}

span.epic {
  background-color: var(--epic);
}

span.legendary {
  background-color: var(--legendary);
}

span.mythic {
  background-color: var(--mythic);
}

a.common {
  color: var(--common);
}

a.uncommon {
  color: var(--uncommon);
}

a.rare {
  color: var(--rare);
}

a.epic {
  color: var(--epic);
}

a.legendary {
  color: var(--legendary);
}

a.mythic {
  color: var(--mythic);
}

.thumbnails {
  display: flex;
  flex-wrap: wrap;
}

.thumbnails > a {
  border-radius: 2%;
  margin: 1%;
  overflow: hidden;
  width: 23%;
}

.thumbnails iframe {
  height: 100%;
  pointer-events: none;
  width: 100%;
}

.inscription {
  display: flex;
  justify-content: center;
  height: fit-content;
  margin-top: 4.5rem;
  transform: scale(1.3);
  width: 25rem;
}

.inscription > *:nth-child(1), .inscription > *:nth-child(3) {
  align-items: center;
  color: var(--dark-bg);
  display: flex;
  flex: 1;
  font-size: 200%;
  justify-content: center;
  text-decoration: none;
}

.inscription > a:nth-child(1):hover, .inscription > a:nth-child(3):hover {
  color: var(--dark-fg);
}

.inscription > *:nth-child(2) {
  flex: 0 75%;
}

.inscription > a > iframe {
  width: 100%;
}

.inscription-page {
  display: flex;
  width: 70rem;
  justify-content: space-between;
}

.inscription-right {
  width: 42rem;
}

@media screen and (max-width: 768px) {
  .inscription > a:nth-child(1), .inscription > a:nth-child(3) {
    color: var(--dark-fg);
  }
  .inscription-page {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .inscription {
    transform: scale(1);
    width: 100%;
  }
  .inscription-right {
    width: 100%;
  }
}
